body {
  font-family: 'Lato', sans-serif;
  background-image: url("/images/wallpaper2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  ;
}



/* Intro */
.greeting {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 11vh;
}
.name {
  font-size: 55px;
  margin-left: 30px;
  margin-bottom: 3vh;
}
.sent-self {
  margin-left: 30px;
}
.whoami {
  margin-top: 25px;
  margin-left: 5vh;
  width: 85%;
  font-size: 22px;
}



/* about me */
.aboutme {
  margin-left: 5vh;
  font-size: 22px;
  width: 85%;
  margin-bottom: 4vh;
}
.school {
  margin-left: 5vh;
  font-size: 18px;
  width: 85%;
  margin-bottom: 9vh;
}
.lang-intro {
  margin-left: 5vh;
  font-size: 20px;
  margin-bottom: 6vh;
  width: 85%;
}
.lang-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}



/* icons */
.js {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.python {
  display: flex;
  flex-direction: column; 
  margin: 15px;
}
.css {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.node {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.express {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.mongo {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.mongoose {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.django {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.react {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.bootstrap {
  display: flex;
  flex-direction: column;
  margin: 15px;
}



/* experience */
.games-built {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 12vh;
}
.card {
  margin-top: 20px;
}
.link-btn {
  text-align: center;
}
.card-body {
  font-size: 14px;
}

/* get in touch */
.intouch-para {
  margin-left: 5vh;
  font-size: 22px;
  width: 85%;
}


/*! change colors */

.email-btn {
  margin: auto;
  text-align: center;
  margin-bottom: 12vh;
}
.button {
  border-radius: 5px;
}
.g-button {
  border-radius: 5px;
}
a.button:link, a.button:visited {
  background-color: #0065a0c4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.button:hover, a.button:active {
  background-color: #1c65b8;
}
a.g-button:link, a.g-button:visited {
  background-color: #000000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.g-button:hover, a.g-button:active {
  background-color: rgb(73, 69, 69);
}

/* social */
.social-icons {
  text-align: center;
  font-size: 50px;
}
i.fab.fa-github-square {
margin: 5px;
color: black;
}
i.fab.fa-github-square:hover{
  color: rgb(73, 69, 69);
}
i.fab.fa-linkedin {
  margin: 5px;
}

/* divider css */
span {
  bottom: 13px;
}
.divider {								
  display: table; 
  font-size: 35px; 
  text-align: center; 
  width: 75%; 					
  margin: 30px auto;				
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;						
  -moz-background-size: 100% 2px; 	
  background-size: 100% 2px; 			
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
  color: #000; padding: 0px 10px; width: auto; white-space: nowrap;
}
.divider span:last-child {			
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}

a {
  text-decoration: none;

}

li a {
  color: white;
  font-size: 18px;
}

/*! will change depending on color scheme */
li a:hover {
  color: gray;
}

.resume a {
  color: white;
  font-size: 30px;
}
.resume a:hover {
  color: gray;
}